    img {
        max-width: 100%;
        height: auto;
        }
    
    html {
    scroll-behavior: smooth;
    }
    
    body{
        margin: 0;
        padding: 0;
     	font-family: 'Source Sans Pro', sans-serif;
		font-size: 25pt;
		font-weight: 300;
		letter-spacing: 2px;
		text-shadow: 0 0 0.5px rgba(58, 57, 57, 0.25);
        background-image: linear-gradient(rgba(191, 165, 60, 0.5),rgba(0, 151, 19, 0))
    }

#gap{
     padding: 1em 0 1em 0;   
    }

input.MyButton {
font-family: 'Source Sans Pro', sans-serif;
font-size:20px;
position: relative;
margin: 0 45%;
width: 150px;
padding: 10px;
background: rgba(124, 230, 136, 0.8);
color: #fff;
border-radius: 10px;
border-style: none;
}

input.MyButton:hover {
color: #fff;
background: rgba(16, 129, 29, 0.8);
border-style: none;
}

#header {
        font-family: 'Source Sans Pro', sans-serif;
		position: relative;
		color: #fff;
        letter-spacing: 3px;
		text-shadow: 0 0 0.5px rgba(41, 4, 4, 0.25);
		text-align: center;
		margin: 0;
		padding: 10em 0 9em 0;
		cursor: default;
        background: rgba(0, 151, 19, 0.2);
        background: url(bg1.jpg) no-repeat center center fixed;
        background-blend-mode: color;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
	}
 h1{
        letter-spacing: 3px;
    }
#container {
  position:absolute;
  top:0;
  margin: 20px 50px;
  width: auto;
  z-index: 99;
}
    
.topnav {
    background-color: rgba(65, 63, 49, 0.42);
    overflow: hidden;
} 
 
.sticky {
  position: fixed;
  top: 50px;
  width: 100%;
}

.topnav a {
  float:left;
  color: rgb(242, 242, 242);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px; 
}
    
.topnav a:hover {
  background-color: rgba(221, 221, 221, 0.74);
  color: black;
}
   
.topnav a.active {
  background-color: rgba(101, 195, 112,0.8);
  color: white;
}
    
#grey{
        background-color: rgba(42, 37, 37, 0.3);
        padding: 30px 0;
        margin:0 50px;
    }   
#banner1 {
		position: relative;
		color: #8e2828;
		text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25);
		text-align: left;
		background: rgba(0, 151, 19, 0);
		padding: 4em 0 5em 0;
		margin: 0 20px;
    }
#banner1 header {
			margin: 0 0 2em 0;
		}

			h2 {
                font-family: 'Source Sans Pro', sans-serif;
				font-weight: 400;
				font-size: 1.75em;
				letter-spacing: 8px;
                margin: 100px;
                float: none;
			}

		   #banner1 p {
			margin: 0;
	} 

#banner2{
		position: relative;
		color: rgba(40, 71, 142, 0.73);
		text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25);
		text-align: right;
		background: rgba(128, 190, 128, 0.47);
		padding: 4.5em 0 4.5em 0;
		margin: 20px 0px 20px 40px;
        border-radius: 30px 0px 0px 30px;
    }
    
#banner3{
		position: relative;
		color: #8e2828;
		text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25);
		text-align: left;
		background: rgba(2, 96, 14, 0);
		padding: 6em 0 6em 0;
		margin: 20px;
    }

#banner4{
		position: relative;
		color: #8e2828;
		text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25);
		text-align: right;
		background: rgba(71, 142, 71, 0.58);
		padding: 5em 0 5em 0;
		margin: 20px 40px 20px 0px;
        border-radius: 0px 30px 30px 0px;
    }

#banner4 h2{
        color:#fff;
}

#footer {
		position: relative;
		color: #7f33b7;
		text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25);
		text-align: center;
		margin: 2em 0 30px 0;
	}

#footer h3 {
				font-weight: 300;
				font-size: 0.8em;
				letter-spacing: 2px;
                color:dimgray;
                margin:0;
			}  
#footer h4 {
				font-weight: 100;
				font-size: 18px;
				letter-spacing: 1px;
                color:rgba(105, 105, 105, 0.79);
                margin:0;
			}  

.video{
      float: left;
      margin-top:-350px;
      margin-left:100px;
      margin-right:100px;
      z-index: 99;
    }